:root {
    --mainBlue: #2f5572;
    --mainOrange: #d59541;
    /* font-size: 14px; */
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333; 
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav li {
    padding: 2%;
  }

  /*
    WRAPPER
  ---------------*/
  .wrapper {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper--medium {
    max-width: 960px;
  }
  @media (max-width: 768px) {
    .wrapper--medium {
      padding: 0;
    }
  }
  /*
    PAGE SECTION
  ----------------*/
  .page-section {
    padding: 1rem 0;
  }
  @media (min-width: 768px) {
    .page-section {
      padding: 4.5rem 0;
    }
  }
  .page-section--blue { /*  modifier on paeg-section class  */
    background-color: var(--mainBlue);
    color: white;
  }
  /*
    ROW
  --------------*/
  .row {
    margin-top: 2rem;
    display: flex;
  }
  .row__4 {
    flex: 1;
  }
  .row__8 {
    flex: 2;
    padding-left: 3rem;
  }
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
    }
    .row__4 {
      display: flex;
      justify-content: center;
    }
    .row__8 {
      padding-left: 0;
    }
  }
  /* .row {
    border: 1px dotted lightgray;
  }
  .row__4 {
    float: left;
    width: 33%;
  }
  .row__8 {
    float: left;
    width: 66%;
    padding-left: 3rem;
  }
  .row::after {
    content: "";
    display: block;
    clear: both;
  } */