.row {
    margin-top: 2rem;
    display: flex;
  }
  /*    4 and 8 Columns for Our Beginning Section   */
  .row__4 {
    flex: 1;
  }
  .row__8 {
    flex: 2;
    padding-left: 3rem;
  }
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
    }
    .row__4 {
      display: flex;
      justify-content: center;
    }
    .row__8 {
      padding-left: 0;
    }
  }
  /* .row {
    border: 1px dotted lightgray;
  }
  .row__4 {
    float: left;
    width: 33%;
  }
  .row__8 {
    float: left;
    width: 66%;
    padding-left: 3rem;
  }
  .row::after {
    content: "";
    display: block;
    clear: both;
  } */


  /*    row__6 for two column layout in the Features Section    */
.row__6--first {
    margin-left: 2rem;
    margin-right: 1rem;
}
@media (max-width: 768px) {
    .row__6--first {
        margin-left: 0;
        margin-right: 0;
    }
}