:root {
    --mainBlue: #2f5572;
    --mainOrange: #d59541;
    /* font-size: 14px; */
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333; 
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  /*
    WRAPPER
  ---------------*/
  .wrapper {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper--medium {
    max-width: 960px;
  }
  @media (max-width: 768px) {
    .wrapper--medium {
      padding: 0;
    }
  }
  /*
    PAGE SECTION
  ----------------*/
  .page-section {
    padding: 1rem 0;
  }
  @media (min-width: 768px) {
    .page-section {
      padding: 4.5rem 0;
    }
  }
  .page-section--blue { /*  modifier on page-section class  */
    background-color: var(--mainBlue);
    color: white;
  }

  /*
    SECTION TITLE
  ------------------*/
  .section-title {
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
  }
  .section-title strong {
    font-weight: 500;
  }
  .section-title__icon {
    margin-right: .35rem;
  }
  @media (max-width: 425px) {
    .section-title {
      font-size: 2.5rem;
    }
  }

  /*
    FEATURES  
  ------------------*/
  .feature {
    display: flex;
    /* border: 1px dotted white; */
  }
  .feature__img {
    padding-top: 2rem;
    flex: 1;
  }
  .feature__content {
    flex: 5;
    padding-right: 2rem;
  }
  .feature__content__title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: .7rem;
  }
  .feature__content__desc {
    color: rgb(228, 228, 228);
    font-size: 1.1rem;
    line-height: 1.7;
    width: 85%;
    margin-top: 0;
    font-weight: 300;
  }
  @media (max-width: 425px) {
    .feature {
      flex-direction: column;
    }
    .feature__img {
      align-self: center;
    }
    .feature__content__desc {
      width: 100%;
    }
    .feature__content__title {
      text-align: center;
    }
  }