:root {
    --mainBlue: #2f5572;
    --mainOrange: #d59541;
    --transparentWhite: rgba(255,255,255, 0.7);
    /* font-size: 14px; */
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333; 
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  /*
    WRAPPER
  ---------------*/
  .wrapper { /* to make a container div at the center of the page */
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper--medium {
    max-width: 960px;
  }
  @media (max-width: 768px) {
    .wrapper--medium {
      padding: 0;
    }
  }
  /*
    PAGE SECTION
  ----------------*/
  .page-section {
    padding: 1rem 0; /* for mobile view */ 
  }
  @media (min-width: 768px) {
    .page-section {
      padding: 4.5rem 0;
    }
  }
  .page-section--blue { /*  modifier on page-section class  */
    background-color: var(--mainBlue);
    color: white;
  }
  .page-section--testimonials {
    background: url(../images/testimonials-bg.jpg) no-repeat top center;
    background-size: cover;
  }

  /*
    SECTION TITLE
  ------------------*/
  .section-title {
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
  }
  .section-title--blue {
    color: var(--mainBlue);
  }
  .section-title strong {
    font-weight: 500;
  }
  .section-title__icon {
    margin-right: .35rem;
    position: relative;
    top: 3px;
  }
  @media (max-width: 425px) {
    .section-title {
      font-size: 2.5rem;
    }
  }