.btn {
    background-color: var(--mainBlue);
    color: white;
    text-decoration: none;
    display: inline-block; /* so its surrounding elements are aware of its padding  */
    padding: .8rem 1rem;
}
.btn--orange { /* BEM modifier on btn class*/
    background-color: var(--mainOrange);
}

@media (min-width: 768px) {
    .btn--large {
        font-size: 1.15rem;
        padding: 1rem 1.5rem;
    }
}
.btn--footer {
    display: inline-block;
    margin-left: 3rem;
    padding: .8rem 2.25rem;
    font-weight: 500;
}
@media (max-width: 768px) {
    .btn--footer {
        display: none;
    }
}