/*
    All Text Typography
*/
.headline {
    font-weight: 300;
    font-size: 2.75rem;
    color: var(--mainBlue);
    margin-top: 0;
}
.headline--centered {
    text-align: center;
}
.headline--orange {
    color: var(--mainOrange);
}
.headline--small {
    font-size: 2rem;
}
.headline--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.headline--light {
    font-weight: 200;
}
.para {
    line-height: 1.65;
    font-size: 1.1rem;
}
.para a {
    color: var(--mainOrange);
    font-weight: 500;
}
@media (max-width: 768px) {
    .headline {
        margin-top: 1rem;
    }
}
@media (max-width: 425px) {
    .headline {
        font-size: 2rem;
    }
    .headline--small {
        font-size: 1.4rem;
    }
    .para {
        font-size: 1rem;
    }
}