.site-header {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
}
@media (min-width: 769px) {
    .site-header {
        background-color: var(--transparentBlue);
    }
}
.site-header__btn-container {
    float: right;
}
.site-header__nav {
    float: right;
}
.site-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-header li {
    display: inline-block;
    padding-right: 20px;
}
.site-header__nav a {
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 300;
    padding: 12px 0;
}
.site-header__logo {
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: var(--mainBlue);
    padding: 25px 36px;
}
@media(max-width: 768px) {
    .site-header__logo {
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0;
        /* padding: 10px 30px; */
    }
    .site-header__menu-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
    }
}
.site-header__menu-content {
    display: none;
}
@media (min-width: 769px) {
    .site-header__menu-content {
        display: block;
    }
}