.btn {
    background-color: var(--mainBlue);
    color: white;
    text-decoration: none;
    display: inline-block; /* so its surrounding elements are aware of its padding  */
    padding: .8rem 1rem;
}
.btn--orange { 
    background-color: var(--mainOrange);
}
.btn, .btn--orange {
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: var(--mainBlueHover);
}
.btn--orange:hover {
    background-color: var(--mainOrangeHover);
}

@media (min-width: 768px) {
    .btn--large {
        font-size: 1.15rem;
        padding: 1rem 1.5rem;
    }
}
.btn--footer {
    display: inline-block;
    padding: .8rem 2.25rem;
    font-weight: 500;
}