.feature {
    display: flex;
    margin-bottom: 1rem;
  }
  .feature__img {
    padding-top: 2rem;
    flex: 1;
  }
  .feature__content {
    flex: 5;
    padding: 0 1rem;
  }
  .feature__content__title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: .7rem;
  }
  .feature__content__desc {
    color: rgb(228, 228, 228);
    font-size: 1.1rem;
    line-height: 1.7;
    width: 90%;
    margin-top: 0;
    font-weight: 300;
  }
  @media (max-width: 425px) {
    .feature {
      flex-direction: column;
    }
    .feature__img {
      align-self: center;
    }
    .feature__content__desc {
      width: 100%;
    }
    .feature__content__title {
      text-align: center;
    }
  }
  /* JavaScript triggered classes */
  .item-hidden {
    opacity: 0;
  } 
  .item-visible {
    animation: slide-top 1s ease-out forwards;
  }
  @keyframes slide-top {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }