.site-header {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
    transition: background 0.3s ease;
}
.site-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-header li {
    display: inline-block;
    padding-right: 20px;
}
.site-header__nav a {
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 300;
    padding: 12px 0;
}
.site-header__logo {
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: var(--mainBlue);
    padding: 25px 36px;
}
.site-header__menu-content {
    opacity: 0;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;
    transform: scale(1.2);
}
@media(max-width: 768px) {
    .site-header__menu-content {
        padding-top: 6rem;
        text-align: center;
    }
    .site-header__logo {
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0;
    }
    .site-header__menu-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
        cursor: pointer;
        z-index: 10;
    }
    .site-header ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .site-header li {
        padding-right: 0;
    }
    .site-header li a {
        margin-bottom: 10px;
        background: rgba(255,255,255,0.2);
    }
}
@media (min-width: 769px) {
    .site-header {
        background-color: var(--transparentBlue);
    }
    .site-header__btn-container {
        float: right;
    }
    .site-header__nav {
        float: right;
    }
    .site-header__menu-content {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
    }
}

/* JavaScript triggered classes */
.site-header__menu-content--visible {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}
.header-bg-mobile {
    background: rgba(47,85,114,0.8);
}